/* font-family: 'Roboto', sans-serif; */
@font-face {
  font-family: "Bebas Neue";
  src: local("BebasNeueRegular"), url("./fonts/BebasNeueRegular.woff2") format("woff2"),
    url("./fonts/BebasNeueRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


html, body, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
dl, dt, dd, ol, ul, li {
	margin: 0;
	padding: 0;
	border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

html, body {
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

ul, li {
    list-style-type: none;
}

.header {
    padding-top: 12px;
    padding-bottom: 12px;
    color: #fff;
    background-color: #635854;
    border-bottom: 4px solid #3596F5;
}

.navbar {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-nav {
    margin-left: 180px;
}

.navbar-menu {
    list-style: none;
    display: flex;
    text-align: center;
    column-gap: 80px;
    font-size: 16px;
    line-height: 1.187;
}

.navbar-link {
    color: #fff;
}

.navbar-contacts {
    text-align: right;
}

.navbar-text {
    display: block;
    margin-bottom: 4px;
    font-size: 14px;
    line-height: 1.142;
}

.navbar-phone {
    color: #fff;
    font-weight: 700;
    font-size: 17px;
    line-height: 1.176;
}

/* main */
.main {
    display: flex;

    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 54px;
}

.home-img path {
    opacity: 0;
    cursor: pointer;
}

.home-img path:hover {
    opacity: 1;
}

.main-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    text-align: center;
}

path.current-floor {
    opacity: 1;
}

.counter-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.counter-button {
    background-color: #fff;
    border: none;
    cursor: pointer;
}

.counter-arrow-down {
    transform: rotateX(180deg);
}

.main-title {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 37px;
    line-height: 1.189;
    text-align: center;
    text-transform: uppercase;
    color: #635854;
}

.floor-counter {
    margin-top: 10px;
    font-family: 'Bebas Neue', sans-serif;
    color: #635854;
    font-size: 124px;
}

.button-primary {
    padding: 16px 36px;
    background: #3596F5;
    border: none;
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
}

/* modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex; /* делаем модальное окно гибким */
    justify-content: center; /* выравниваем по центру */
    align-items: center; /* выравниваем по центру */
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.2s;
}

.is-open {
    opacity: 1;
    transform: scale(1);
}

.modal-dialog {
    position: relative;
    max-width: 1000px;
    min-height: 565px;
    background-color: #fff;
    flex-grow: 1;
    display: flex;
    opacity: 0;
    transform: translateY(-10%);
    transition: transform 0.2s opacity 0.2s;
    transition-delay: 0.2s;
}

.is-open > .modal-dialog {
    opacity: 1;
    transform: translateY(0);
}

.modal-image {
    padding: 50px;
    width: 60%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EBEBEB;
}

.flats path {
    opacity: 0;
    cursor: pointer;
}

.flats path:hover {
    opacity: 1;
}

path.current-flat {
    opacity: 1;
}

.modal-title {
    margin-bottom: 25px;
    font-family:  'Bebas Neue', sans-serif;
    font-size: 24px;
    line-height: 1.2;
    font-weight: normal;
    text-transform: uppercase;
}

.modal-info {
    width: 40%;
    padding: 50px 46px;
}

.modal-info .madal-title {
    margin-bottom: 55px;
}

.flat-list {
    margin-bottom: 55px;
}

.flat-item + .flat-item {
    margin-top: 10px;
}

.flat-link {
    font-size: 16px;
    line-height: 1.187;
    color: #635854;
}

.flat-link:hover {
    color: #3596F5;
    text-decoration: underline;
}

.flat-link.active {
    color: #3596F5;
    text-decoration: underline;
}

.flat-text {
    font-style: italic;
    font-size: 16px;
    line-height: 19px;
    color: #635854;
}

.modal-close-button {
    position: absolute;
    top: 38px;
    right: 27px;
    cursor: pointer;
    border: none;
    background-color: #fff;
}